<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DeepFinance</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/add_expense">Add Expense</a> |
    <a href="/expense_list">Expense List</a> |
    <a href="/savings">Savings Goals</a> |
    <a href="/settings">Settings</a> |
    <a href="/create_account">Create an Account</a> |
    <a href="/login">Log In</a> |
    <a href="/logout">Log Out</a>
  </nav>

  <h1><b>Welcome to DeepFinance!</b></h1>
  <p>This webpage can help you reach your savings goals</p>
</body>
</html>
